.App {
  text-align: center;
}



.GridView {
  width:80%;
  display: grid;
  margin: 50px auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 10px;
  min-height: 200px;
  padding: 20px;
}

.todo {
  background-color: red;
}